GOOGLE_API_KEY='AIzaSyDYjScpLb_5MF0_8wSSYIpjgoDaZxtkdy4'
GOOGLE_EMBEDDING_MODEL='models/embedding-001'
OPENAI_API_KEY='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'
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
DATABASE_URL=
PG_VECTOR_COLLECTION_NAME=
PDF_PATH='pdf/examen.pdf'